header {
    width: 100%;
    height: 75px;
    background-color: #F86DB3;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F8B4CB;
}

.header-logo-small { 
    height: 100px; 
    width: 100px;  
    padding-top: 30px;
    object-fit: cover; 
}

/* Seção de Topo (Imagens) */
.top-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.left-info, .right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-info { align-items: flex-start; flex-basis: 45%; }
.right-info { align-items: flex-end; flex-basis: 49%; }

.info-image-left { width: 100%; max-width: 180px; height: auto; margin-top: 30px; }
.info-image-right { width: 90%; max-width: 200px; }